<div class="container" ng-app="uiRouterApp" ng-controller="searchController">
  <div class="masthead">
    <h3 class="text-muted">Angular Simple Front-End Apps using ui.router</h3>
    <div role="navigation">
      <ul class="nav nav-justified">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="search1">Search Form 1</a></li>
        <li><a ui-sref="search2">Search Form 2</a></li>
        <li><a ui-sref="search3">Search Form 3</a></li>
        <li><a ui-sref="search4">Search Form 4</a></li>
        <li><a ui-sref="contact">Contact</a></li>
      </ul>
    </div>
  </div>

  <!-- Content Area -->
  <div ui-view="view1"></div>
  <div ui-view="view2"></div>
  <div ui-view="view3"></div>
  <div ui-view="view4"></div>


  <!-- Site footer -->
  <footer class="footer">
    <p>© Amasik.com 2014</p>
  </footer>

</div> <!-- /container -->
