<div class="jumbotron" ng-controller="users_controller">
	<div id="paginate-list" class="pull-right">
		<ul class="pagination">
		    <li><a href="#">1</a></li>
		    <li class="active"><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		   	<li><a href="#">5</a></li>
  		</ul>
  		<select id="limit" class="form-control" ng-model="limit" ng-change="sendLimit(limit)" 
  			ng-options="limit as limit.count for limit in items">
		</select>	
	</div>
  <table class="table table-hover table-bordered">
  	<thead>
  		<tr>
  			<th class="text-center">ID</th>
  			<th>Name</th>
  			<th>Email</th>
  			<th>City</th>
  			<th>Phone</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr ng-repeat="user in users">
  			<td>{{user.id}}</td>
  			<td>{{user.name}}</td>
  			<td>{{user.email}}</td>
  			<td>{{user.city}}</td>
  			<td>{{user.phone}}</td>
  		</tr>
  	</tbody>
  </table>
</div>